.hello-text, .mountain-image, .cloud1, .cloud2, .cloud3, .cloud4,
.cloud5, .cloud6, .cloud7, .cloud8, .cloud9, .cloud10, .cloud11, .cloud12 {
  will-change: transform;
  backface-visibility: hidden;
}
